$lg:#b9e7e7;
$lglight:#b9e7e790;
$text:#161616;

.App{
    display: flex;
    justify-content: center;
    color:$text;

    .container{
        width:90%;        
        .auth{
            display: flex;
            height: 100vh;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            background: $lg;
        }

        h1{
            font-size: 20px;
            color:teal;
            margin-bottom: 20px;
        }

        form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: white;
            width: 200px;
            gap:20px
        }

        input{ 
            transition: 0.2s;
            color: #16161699;
            background-color: white;
            padding: 10px;
            border: none;
            border-bottom: 1px solid gray;
        }

        button{
            transition: 0.2s;
            padding: 10px;
            border: none;
            color: white;
            cursor:pointer
        }

        button:hover
        {
           transform: scale(1.01);
        }
        p{
            font-size: 12px;
        }
        span{
            text-align: center;
            font-size: 12px;
        }

        // navbar
        
        .navbar{
            .container{
                // background-color:#b9e7e750;
                padding: 10px;
                display: flex;
                justify-content: space-between;

                .logo{
                  width: 125px;
                }

                .links{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                h6{
                    font-size: 15px;
                    font-weight: 300;
                }

                .link{
                    margin:0 20px;
                    text-decoration: none;
                    transition: 0.2s;
                    &:hover{
                    transform: scale(1.01);
                    }
                }
                
                .write{
                    text-decoration: none;
                    background-color:$lg;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 300;
                    transition: 0.2s;
                    border: 1px solid white;

                    &:hover{
                        color:teal;
                        background-color: white;
                        border: 1px solid teal;
                    }
                }
            }
        }

        footer{
            margin-top:150px;
            padding:20px;
            background: $lg;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size:12px ;
            img{
                height: 60px; 
            }
         }
         
         .home{
            
            text-align: center;
            .posts{
                margin-top:50px;
                display: flex;
                flex-direction: column;
                gap:150px;
            }

         }

         .post{

            &:hover{
                transform: scale(1.01);
            }
            display: flex;
            flex-direction: row;
            gap: 100px;
            color:#161616;
            transition: 0.2s;
            &:nth-child(even)
            {
                flex-direction: row-reverse;
            }

            .img{

                flex: 2;
                position: relative;

                &::after{
                position: absolute;
                content:"";
                width: 80%;
                height:100%;
                background-color:$lg ;
                top:10px;
                right:10px;
                z-index:-1;
                filter: blur(20px);                
                }
                
                img{
                    width: 400px;
                    max-height: 400px;
                    object-fit: cover;
                }
            }
            
            .content{
                flex: 3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:center ;
                
                h1{
                     font-size: 48px;
                     color: #161616;
                     text-decoration: none;
                }
                
                p{
                    color: #161616;
                    font-size: 18px;
                }

                button{
                    width: max-content;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    color: teal;
                    background-color:white;
                    border: 1px solid $lg;
                    transition: 0.2s;
                    &:hover{
                        border: 1px solid white;
                        background-color: $lg;
                        color:black;
                    }
                }

            }
        }

        .single{
            margin-top: 40px;
            display:flex;
            gap:50px;

            .content{

                flex:5;
                display: flex;
                flex-direction: column;
                gap: 30px;

                img{
                     width: 100%;
                     height: 300px;
                     object-fit: cover;
                }

                .user{
                    margin-bottom: 40px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 14px;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius:50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                    }
                }
              
                .edit{
                    display: flex;
                    gap: 5px;
                
                img{
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
                }

                h1{
                    font-size: 42px;
                    color:#333;
                }

                .content{
                    text-align: justify;
                    line-height: 30px;
                    font-size: 18px;
                }
            }
            .menu{
                flex:2;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1{
                    font-size: 20px;
                    color: #555;
                }

                .post{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img{
                        width: 100%;
                        height: 200px;
                        object-fit:cover;
                    }

                    button{
                        width: max-content;
                        border: none;
                        cursor: pointer;
                        color: teal;
                        background-color:white;
                        border: 1px solid $lg;
                        transition: 0.2s;
                        &:hover{
                            border: 1px solid white;
                            background-color: $lg;
                            color:black;
                        }
                    }

                }
            }
        }
      
        .add {
            margin-top: 20px;
            display: flex;
            gap: 20px;
      
            .content {
              flex: 5;
              display: flex;
              flex-direction: column;
              gap: 20px;
      
              input {
                padding: 10px;
                border: 1px solid lightgray;
              }
      
              .editorContainer {
                width: 1000px;
                height: 300px;
                overflow-y: scroll;
                border: 1px solid lightgray;
      
                .editor {
                  height: 100%;
                  border: none;
                }
              }
            }
      
            .menu {
              flex: 2;
              display: flex;
              flex-direction: column;
              gap: 20px;

              .item {
                border: 1px solid lightgray;
                padding: 10px;
                flex:1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                font-size: 12px;
                color: #555;
      
                h1{
                  font-size: 20px;
                }
      
                .file{
                  margin-top: 10px;
                  text-decoration: underline;
                  cursor: pointer;
                }
      
                .buttons{
                  margin-top: 20px;
                  display: flex;
                  justify-content: space-between;
                  gap: 10px;
      
                  :first-child{
                    cursor: pointer;
                    color: teal;
                    background-color: white;
                    border: 1px solid teal;
                    padding: 3px 5px;
                  }
                  :last-child{
                    cursor: pointer;
                    color: white;
                    background-color: teal;
                    border: 1px solid teal;
                    padding: 3px 5px;
                  }
                }
      
                   .radio{
                    margin: 5px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                   }
                }
              }
            }
          }

    }
   
