$lg:#b9e7e7;
$lglight:#b9e7e790;
$text:#161616;


.App{
    
    display: flex;
    justify-content: center;
    color:$text;
    text-align: center;

    .container{
        
        width:90%;
        .auth{
            display: flex;
            height: 100vh;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            background: $lg;
        }

        h1{
            font-size: 20px;
            color:teal;
            margin-bottom: 20px;
        }

        form{
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: white;
            width: 200px;
            gap:20px
        }

        input{ 
            transition: 0.2s;
            color: #16161699;
            background-color: white;
            padding: 10px;
            border: none;
            border-bottom: 1px solid gray;
        }

        button{
            transition: 0.2s;
            background-color: teal;
            padding: 10px;
            border: none;
            color: white;
            cursor:pointer
        }

        button:hover
        {
           transform: scale(1.01);
        }
        p{
            font-size: 12px;
            color: red;
        }
        span{
            text-align: center;
            font-size: 12px;
        }

        // navbar
        
        .navbar{
            .container{
                // background-color:#b9e7e750;
                padding: 10px;
                display: flex;
                justify-content: space-between;

                .logo{
                  width: 125px;
                }

                .links{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                h6{
                    font-size: 15px;
                    font-weight: 300;
                }

                .link{
                    margin:0 20px;
                    text-decoration: none;
                    transition: 0.2s;
                    &:hover{
                    transform: scale(1.01);
                    }
                }
                
                .write{
                    text-decoration: none;
                    background-color:$lg;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 300;
                    transition: 0.2s;
                    border: 1px solid white;

                    &:hover{
                        color:teal;
                        background-color: white;
                        border: 1px solid teal;
                    }
                }
            }
        }

        footer{
            margin-top: 100px;
            padding: 20px;
            background: $lg;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size:12px ;
            img{
                height: 60px; 
            }
         }
         
         .home{

            .posts{
                margin-top:50px;
                display: flex;
                flex-direction: column;
                gap:150px;

        

            }

         }

         .post{

            &:hover{
                transform: scale(1.01);
            }
            display: flex;
            flex-direction: row;
            gap: 100px;
            color:#161616;
            transition: 0.2s;
            &:nth-child(even)
            {
                flex-direction: row-reverse;
            }

            .img{

                flex: 2;
                position: relative;

                &::after{
                position: absolute;
                content:"";
                width: 80%;
                height:100%;
                background-color:$lg ;
                top:10px;
                right:10px;
                z-index:-1;
                filter: blur(20px);
                
                }

                

                img{
                    width: 400px;
                    max-height: 400px;
                    object-fit: cover;
                }
            }
            
            .content{
                flex: 3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:center ;
                
                h1{
                     font-size: 48px;
                     color: #161616;
                     text-decoration: none;
                }
                
                p{
                    color: #161616;
                    font-size: 18px;
                }

                button{
                    width: max-content;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    color: teal;
                    background-color:white;
                    border: 1px solid $lg;
                    transition: 0.2s;
                    &:hover{
                        border: 1px solid white;
                        background-color: $lg;
                        color:black;
                    }
                }

            }
        }
      
    }
   
} 